mat-sidenav-container mat-sidenav {
    min-width: 200px;
}

.logo {
    display: contents;
}

.principal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.spacer {
    flex: 1 1 auto;
}